a {
  color: #003B2B;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  overflow:auto;/* to get scroll */
}

a:hover {background-color: #f1f1f1}

.flag-position{
  float: right;
}

