.a-style {
  color: #003B2B;
  padding: 12px 10px;
  margin-left: 3px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  overflow:auto;/* to get scroll */
}

.a-style:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.flag-position{
  float: right;
}

