<div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-gear"></i> Chart settings</h3>
</div>
<div class="panel-body">
  <p class="select-custom-par">How much days to display:</p>
  <select class="custom-select btn-custom"
          (change)="onSelectChanged($event)"
          [disabled]="currentRegionsOnChart > 0">
    <option value='1' selected>One</option>
    <option value='2'>Two</option>
    <option value='3'>Three</option>
    <option value='4'>Four</option>
    <option value='5'>Five</option>
  </select>
  <button class="btn btn-success btn-custom"
          (click)="toggleAdd()"
          [disabled]="currentRegionsOnChart === 4">
    Add region
  </button>
  <div class="settings-font" *ngIf="isAddRegionOpen">
    <app-add-region
      (addRegion)="addRegion.emit($event)"
      (toggleAdd)="toggleAdd()">
    </app-add-region>
  </div>
  <button class="btn btn-danger btn-custom"
          (click)="toggleDelete()">
    Clear chart
  </button>
  <div *ngIf="isDeleteRegionOpen">
    <app-delete-region
      [regionsToDelete]="optionsToDelete"
      (deleteRegion)="deleteRegion.emit($event)">
    </app-delete-region>
  </div>
</div>

