<div *ngIf = "currentRegionsOnChart > 0" class="container-responsive">
  <ngx-charts-line-chart class="line-graph"
    [scheme]="colorScheme"
    [results]="results"
    [xAxis]=true
    [yAxis]=true
    [legend]=true
    [showXAxisLabel]=true
    [showYAxisLabel]=true
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]=true
    [autoScale]=true>
    <ng-template #tooltipTemplate let-model="model">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <object class = "preview-weather" id = "svgObject" type="image/svg+xml" [data] = "previewResults[model.series][model.value][1]">
              Your browser doesn't support SVG
            </object>
          </div>
          <div class="col-xs-6">
            <div class="tooltip-area" >
              <ul class="preview-list">
                <li style="margin-left: 0px;">{{previewResults[model.series][model.value][2]}}</li>
                <li style="margin-left: 0px;">{{previewResults[model.series][model.value][0]}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngx-charts-line-chart>
</div>

