<div class="search-container">
  <p class = "search-paragraph">Find a Forecast</p>
  <form [formGroup] = "form" (submit)="onSubmit()">
    <button class = "search-button"
            type="submit">
      SEARCH</button>
    <div class="form-container">
      <div class="dropdown-content">
        <input formControlName="region"
               class="search-input"
               [class.loading]="isLoading"
               [class.is-invalid]="form.get('region').invalid && form.get('region').touched"
               placeholder="Search for location"
               type="text" />
        <ul *ngIf="autocompleteOptions.length > 0">
          <li>
            <a *ngFor="let option of autocompleteOptions" (click)="onOptionClicked(option)">
            {{option.region}}
            </a>
          </li>
        </ul>
      </div>
    </div>​
  </form>
</div>
