.search-container{
  height: 102px;
  margin-left: 17%;
  margin-right: 15%;
  background-color: #B0CF00;
}

.search-paragraph {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  padding-left: 10px;
  padding-top: 4px;
  margin-bottom: 18px;
  color: #003B2B;
}

.search-button{
  border-width: 0px;
  display: inline;
  width: 20%;
  height: 32px;
  border-radius: 2px;
  border: none; /* <-- This thing here */
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  background-color: #003B2B;
  color: #FFFAFF;
  cursor: pointer;
  float: right;
  margin-right: 1%
}


.search-button:hover{
  background-color: #0F5474;
  transition-delay: 0.1s;
}

.form-container{
  overflow: hidden;
  padding-right: .5em;
}

/* Dropdown Content */
.dropdown-content {
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #003B2B;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  overflow:auto;/* to get scroll */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.search-input{
  font-size: 14px;
  /*  padding: 14px 20px 12px 45px;
  */
  border: none;
  border-bottom: 1px solid #ddd;
  /*****/
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 28px;
  text-indent: 10px;
}

.search-input:focus {outline: 3px solid #ddd;}

.loading {
  background: url(../../assets/side_effects/download.svg) no-repeat right center;
  background-position: 99% 50%;
}

.dropdown-content ul {
  list-style-type: none;
  max-height:120px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
