<div class = "main-section">
  <app-map-modal
    [lat]="weather.lat"
    [lng]="weather.lon"
    [country]="weather.country"
    [region]="weather.region">
  </app-map-modal>
  <div class="container-picture">
    <object id = "svgObject" type="image/svg+xml" [data] = "weather.image_path">
      Your browser doesn't support SVG
    </object>
  </div>
  <div class = "cont">
    <ul class="description-list">
        <li id = "left" class = "item">{{weather.time}}</li>
        <li id = "center" class = "item">{{weather.temperature | degrees}}</li>
        <li id = "right" class = "item">{{weather.description}}</li>
      </ul>
  </div>
  <app-preview-search (searchRegion)="onSearchClick($event)"></app-preview-search>
</div>
