.main-section{
  margin-left: 15%;
  margin-right: 15%;
}

.header{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #FFFAFF;
}

.container-header{
  margin: 25px 50px;
}

.container-picture{
  margin: 25px 50px;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description-list{
  margin-top: 5%;
  text-align:center;
  margin-bottom: 1%;
  color: #FFFAFF;
}

.item{
  font-size: 30px;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  display: inline; /* Отображать как строчный элемент */
}

#left{float:left; width: 20%;}
#right{
  float:right;
  width: 40%;
  height: auto;
}
#center{margin:0 auto; width: 25%;}

.cont{
  height: 100%;
  margin-left: 17%;
  margin-right: 15%;
  justify-content:center;
  display: block;
  overflow: auto;
}
